.btn{
    @apply h-9 py-1 px-3 cursor-pointer rounded;
}
.input{
    @apply h-9 p-2 text-slate-700 border border-slate-400 hover:bg-gray-100 rounded;
}

/* Drawflow */
.drawflow .drawflow-node {
    border-radius: 25px !important;
    background: linear-gradient(to bottom right, #36d1dc , #5b86e5) !important;
    border: 2px solid #2d495c9a !important;
    color: rgb(27, 26, 26) !important;
    min-width: 180px !important;
}

.drawflow .drawflow-node .drawflow_content_node #node-title {
    color: #ffffff !important;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.drawflow .drawflow-node.selected {
    background: #0053ff !important;
    border: 2px solid #0053ff !important;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    background: #1d5ce3 !important;;
    border: 2px solid #2d495c9a !important;
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.drawflow .drawflow-node .output:hover, .drawflow .drawflow-node .input:hover {
    background: #ed6a5a !important;
    border: 2px solid #ff463c !important;
}

.drawflow .connection .main-path {
    stroke-width: 2px !important;
    stroke: #ed6a5a !important;
    
}

.drawflow .connection .main-path:hover {
    stroke: #ff463c !important;
}