.drawflow .drawflow-node {
    border-radius: 8px !important;
    background: #2b85c0 !important;
    border: 2px solid #2d495c9a !important;
    color: rgb(27, 26, 26) !important;
    min-width: 100px !important;
}

.drawflow .drawflow-node .drawflow_content_node #node-title {
    color: rgb(255, 255, 255) !important;
}

.drawflow .drawflow-node.selected {
    background: #0053ff !important;
    border: 2px solid #0053ff !important;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    background: #f0068e !important;
    border: 3px solid hsla(321, 96%, 40%, 0.733) !important;
}


.drawflow .drawflow-node .output:hover, .drawflow .drawflow-node .input:hover {
    background: #e4b417 !important;
    border: 2px solid rgb(250, 0, 175) !important;
}

.drawflow .connection .main-path {
    stroke-width: 2px !important;
    stroke: #e4b417 !important;
}

.drawflow .connection .main-path:hover {
    stroke: rgb(250, 0, 175) !important;
}